:root {
  --bg-color: #e8eaee;
  /* previous: #eee */
  --nav-bg-color: #f4f4ef;
  --text-color: #2e2e2e;
  --decoration-color: rgb(62, 184, 157);
  --icon-color: #424242;
  --shadow-color: rgba(0, 0, 0, 0.4);
  --box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  /* Box shdadow for pop up menus */
  --box-shadow-Menus: 0 16px 24px 2px rgba(0, 0, 0, 0.14), 0 6px 30px 5px rgba(0, 0, 0, 0.12),
    0 8px 10px -5px rgba(0, 0, 0, 0.4);
  /* --hover-color:; */
}

nav {
  background-color: var(--nav-bg-color);
}
.active {
  background-color: rgba(var(--decoration-color), 0.1);
}
body {
  background-color: var(--bg-color);
}

i {
  color: var(--decoration-color);
}

nav > div > div > ul > li > a:hover {
  background-color: var(--nav-bg-color);
  cursor: default;
}

.login_style {
  background-color: var(--nav-bg-color);
  box-shadow: var(--box-shadow);
  margin: 100px auto;
  padding: 0px;
  width: 40%;
}
.login_style h4 {
  padding: 40px;
  background-color: #26a69a;
  color: #fff;
  font-size: 5em;
}
.login_inner {
  padding: 80px;
}

.login_style button {
  width: 40%;
  height: 50px;
}

.test {
  left: 5px;
}

.other_logins button {
  margin: 10px auto;
}

.other_logins p {
  align-self: center;
  align-items: center;
}

/* Register */

/* Advertisement Card */

.ad_card {
  padding: 10px 0px;
  height: 600px;
  width: 100%;
}
/* Login Forms */
/* Error Message */
.error_div {
  border: solid rgb(163, 102, 102) 1px;
  border-radius: 5px;
  box-shadow: var(--box-shadow);
  background-color: rgb(224, 140, 140);
  padding: 10px auto;
  margin: 10px auto;
}

.error_div i {
  padding: 0px auto;
  margin: 10px;
  color: rgb(163, 53, 53);
}

.error_div span {
  margin: auto;
  position: relative;
  color: rgb(163, 53, 53);
  bottom: 5px;
  font-weight: bold;
}

.login_header {
  background-color: red;
  position: relative;
}

#register-link {
  float: right;
  margin: -35px auto;
  margin-right: 50%;
}
#register-link:hover {
  text-decoration: underline;
}

/*  Messages */
