:root {
  --bg-color: #e8eaee;
  /* previous: #eee */
  --nav-bg-color: #f4f4ef;
  --text-color: #2e2e2e;
  --decoration-color: rgb(62, 184, 157);
  --icon-color: #424242;
  --shadow-color: rgba(0, 0, 0, 0.4);
  --box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  /* Box shdadow for pop up menus */
  --box-shadow-Menus: 0 16px 24px 2px rgba(0, 0, 0, 0.14), 0 6px 30px 5px rgba(0, 0, 0, 0.12),
    0 8px 10px -5px rgba(0, 0, 0, 0.4);
  /* --hover-color:; */
  --lightgray-border: rgb(224, 224, 224);
  --lighttext: rgb(173, 169, 169);
}
/*scrolling bar*/

::-webkit-scrollbar {
  width: 4px;
}

/* Track */

::-webkit-scrollbar-track {
  box-shadow: var(--box-shadow);
  border-radius: 0px;
}

/* Handle */

::-webkit-scrollbar-thumb {
  background: var(--decoration-color);
  border-radius: 0px;
}

/* Handle on hover */

::-webkit-scrollbar-thumb:hover {
  background: #8a4949;
}

/* Navigation Bar */
nav {
  background-color: var(--nav-bg-color);
}
.active {
  background-color: rgba(var(--decoration-color), 0.1);
}
body {
  background-color: var(--bg-color);
}

i {
  color: var(--decoration-color);
}
nav .brand-logo {
  color: var(--decoration-color);
}
nav > div > div > ul > li > a > li > a:hover {
  background-color: var(--nav-bg-color);
  cursor: default;
}

.login_style {
  background-color: var(--nav-bg-color);
  box-shadow: var(--box-shadow);
  margin: 100px auto;
  padding: 0px;
  width: 40%;
}
.login_style h4 {
  padding: 40px;
  background-color: #26a69a;
  color: #fff;
  font-size: 5em;
}
.login_inner {
  padding: 80px;
}

.login_style button {
  width: 40%;
  height: 50px;
}

.toast {
  background-color: var(--nav-bg-color);
  color: var(--text-color-);
}

.other_logins button {
  margin: 10px auto;
}

.other_logins p {
  align-self: center;
  align-items: center;
}

.logreg {
  color: var(--decoration-color);
}

/* Register */

/* Advertisement Card */

.ad_card {
  padding: 10px 0px;
  height: 600px;
  width: 100%;
}
/* Login Forms */
/* Error Message */
.error_div {
  border: solid rgb(163, 102, 102) 1px;
  border-radius: 5px;
  box-shadow: var(--box-shadow);
  background-color: rgb(224, 140, 140);
  padding: 10px auto;
  margin: 10px auto;
}

.error_div i {
  padding: 0px auto;
  margin: 10px;
  color: rgb(163, 53, 53);
}

.error_div span {
  margin: auto;
  position: relative;
  color: rgb(163, 53, 53);
  bottom: 5px;
  font-weight: bold;
}

.login_header {
  background-color: red;
  position: relative;
}

#register-link {
  float: right;
  margin: -35px auto;
  margin-right: 50%;
}
#register-link:hover {
  text-decoration: underline;
}

/********************  Messages ******************/
.messages-grid {
  background-color: var(--nav-bg-color);
  display: grid;
  grid-auto-columns: 25%;
  /* Try to find a way for the grid to cover 100% */
  grid-auto-rows: 10%;
  width: 100vw;
  overflow-y: scroll;
  height: 92vh;
  position: fixed;
}

#message-fields {
  background-color: var(--bg-color);
  grid-column: span 2;
  grid-row: span 9;
  display: grid;
  overflow-y: auto;
  grid-template-rows: repeat(minmax(14%, auto));
  padding: 20px 0px;
}

#message-infos {
  grid-column: 4;
  grid-row: span 10;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: var(--lightgray-border);
  background-color: var(--nav-bg-color);
  display: grid;
  grid-template-rows: 14% 14% auto;
  overflow-y: auto;
}
.user-info-photos {
  display: grid;
  grid-template-columns: 33% 33% 33%;
  overflow-x: hidden;
  grid-template-rows: repeat(auto-fill, 20%);
  grid-gap: 4px;
}

.user-info-photos img {
  cursor: pointer;
  justify-self: stretch;
  background-color: black;
  width: 100%;
  height: 20%;
}

.user-info-card {
  display: grid;
  grid-template-columns: 25% 50% 25%;
  border-bottom-color: var(--lightgray-border);
  border-bottom-width: 1px;
  border-bottom-style: solid;
}
.user-info-card > img {
  align-self: center;
  height: 40px;
  justify-self: center;
  border: solid 1px var(--lightgray-border);
  border-radius: 50%;
}
.user-info-card p {
  font-size: 2ch;
  justify-self: start;
  align-self: center;
}

#message-infos > i {
  color: var(--lighttext);
  align-self: center;
  justify-self: center;
  padding: 25px;
}
.user-info-card i {
  align-self: center;
  justify-self: start;
  color: var(--lighttext);
  cursor: pointer;
}
.user-info-card i:hover {
  color: var(--decoration-color);
}

.message-input {
  position: fixed;
  border-top-color: var(--lightgray-border);
  border-top-style: solid;
  border-top-width: 0px;
  background-color: var(--nav-bg-color);
  bottom: 0px;
  width: 50%;
  height: 9%;
  display: grid;
}

.message-input input {
  width: 66%;
  place-self: center;
  height: 50%;
  border: 1px solid var(--lightgray-border);
  border-radius: 20px;
  padding: 0px 65px 0px 56px;
  margin: 10px 0px 15px 0px;
  font-size: 12pt;
}
.message-input i:hover {
  color: var(--decoration-color);
}
.message-input i {
  position: absolute;
  color: var(--lighttext);
  cursor: pointer;
}
.message-input .photo-gif {
  left: 8%;
  top: 33%;
}
.message-input .photo-mood {
  left: 12%;
  top: 33%;
}
.message-input .photo-pic {
  right: 15%;
  top: 33%;
}
.message-input .photo-send {
  color: var(--decoration-color);
  right: 10%;
  top: 33%;
}
/* Search Through messanger. ( people you have messaged) */
#message-search {
  grid-column: span 3;
  align-self: stretch;
  background-color: red;
  background-color: var(--nav-bg-color);
  grid-template-rows: 50% 50%;
  position: relative;
  border-bottom-style: solid;
  border-bottom-color: var(--lightgray-border);
  border-bottom-width: 1px;
  justify-self: stretch;
}
#message-search input:focus {
  border: var(--decoration-color) 1px solid;
}
#message-search input {
  padding-left: 10%;

  margin: 25px 25px 25px 14px;
  width: 80%;
  border: solid var(--lightgray-border) 1px;
  border-radius: 20px;
}
#message-search i {
  position: absolute;
  top: 37px;
  left: 20px;
  color: var(--lighttext);
}

.ms_user img {
  height: 40px;
}

/* User Info on the chat-grid */
.user-info i:hover {
  color: var(--decoration-color);
  cursor: pointer;
}
.user-info i {
  color: var(--lighttext);
}
.user-info {
  display: grid;
  grid-column: span 3;
  padding: 17px 0px;
  grid-template-columns: 25% 50% 25%;
}
.user-info img {
  height: 50px;
  grid-column: 1;
  place-self: center;
  border: solid var(--lightgray-border) 1px;
  border-radius: 50%;
}
.user-info .user-info-div {
  justify-self: start;
  align-self: center;
}
.user-info div p {
  margin: 0px;
}
.user-info div .user-info-name {
  grid-column: 2;
  font-size: 2.4ch;
  margin: 0px;
}
.user-info-email {
  color: var(--lighttext);
}
.user-info .user-info-buttons {
  grid-column: 3;
  place-self: center;
}

/* Chatting Grid : all the users who are messaged */

#chat-grid {
  background-color: var(--nav-bg-color);
  grid-row: span 10;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: var(--lightgray-border);

  display: grid;
  overflow-x: hidden;
  overflow-y: auto;
  white-space: nowrap;

  grid-template-columns: 25% 50% 25%;
  grid-template-rows: repeat(auto-fill, 14%);
  grid-row-gap: 1px;
}
.message_credentials:hover {
  background-color: rgba(0, 0, 0, 0.05);
  cursor: pointer;
}
.message_credentials {
  grid-column: span 3;
  display: grid;
  grid-template-columns: 25% auto 25%;
}

.message_credentials img {
  height: 70px;
  width: auto;
  border-radius: 50%;
  margin: 15px;
  place-self: center;
}
.message_credentials p {
  align-self: center;
  margin: 0px;
}

.mc_options {
  display: grid;
}
.mc_options small {
  place-self: center;
  align-self: end;

  color: var(--lighttext);
}

.message_credentials .mc_options i:hover {
  color: var(--decoration-color);
}
.mc_options i {
  place-self: center;
  align-self: start;
  margincursor: pointer;

  color: var(--lighttext);
}

.mc_info {
  align-self: center;
}
.mc_name {
  font-size: 2.4ch;
}
.mc_message {
  color: rgb(173, 169, 169);
}

.mc_message i {
  font-size: 1.9ch;
}

/* Chat's messages sender */

.senderMessage {
  display: grid;
  grid-template-columns: 20% 65% auto;
}
.senderMessage img {
  align-self: center;
  height: 70px;
  justify-self: center;
  border: solid 1px var(--lightgray-border);
  border-radius: 50%;
}

.senderMessage .actualMessage {
  display: grid;
  grid-template-rows: auto auto;
}

.actualMessage p {
  border-radius: 0px 20px 20px 20px;
  box-shadow: var(--box-shadow);
  align-self: start;
  justify-self: start;

  padding: 10px;
  background-color: var(--lightgray-border);
}
.actualMessage small {
  align-self: end;
}

/* Receiver message */

.receiverMessage {
  display: grid;
  grid-template-columns: auto minmax(100px, auto) 20%;
}
.receiverMessage img {
  align-self: center;
  height: 70px;
  justify-self: center;
  border: solid 1px var(--lightgray-border);
  border-radius: 50%;
}
.receiverMessage .actualMessageReceiver {
  display: grid;
  grid-template-rows: auto auto;
}
.actualMessageReceiver small {
  align-self: end;
}
.actualMessageReceiver p {
  background-color: var(--decoration-color);
  color: var(--nav-bg-color);
  border-radius: 20px 0px 20px 20px;
  box-shadow: var(--box-shadow);
  justify-self: end;
  align-self: start;
  padding: 10px;
}
.receiverMessage i {
  justify-self: end;
  align-self: center;
  color: var(--lightgray-border);
}
.receiverMessage i:hover {
  color: var(--decoration-color);
  cursor: pointer;
}

.actualMessageReceiver small {
  justify-self: end;
}

/* make all icon buttons round */

.icons-btn {
  border-radius: 50%;
}
